<ul>	
	<% @pubs.each do |pub| %>
	<li data-latitude="<%= pub.latitude %>" data-longitude="<%= pub.longitude %>" >
		<p><%= pub.name%></p>
		<p><%= pub.address%></p>
	</li>
	<% end %>
</ul>

<section id="map"></section>

<%= link_to "Add a Pub", new_pub_path %>
